@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;
@use "@/styles/typography" as *;

.EcoSection {
  width: 100%;
  padding: rem(60) 0;

  @include mobile {
    padding: rem(32) rem(16);
  }
}

.EcoInner {
  @include container(web);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: rem(40);

  @include mobile {
    // align-items: flex-start;
    align-items: center;
    flex-direction: column;
    gap: rem(24);
    padding: 0;
  }
}

.ImageBox {
  position: relative;
  width: rem(268);
  height: rem(297);
  flex-shrink: 0;

  @include mobile {
    width: 100%;
    height: auto;
    aspect-ratio: 312 / 297;
  }

  .Thumb {
    object-fit: cover;
    border-radius: rem(6);
  }
}

.Content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: rem(16);
}

.Title {
  @extend .subtitle2;
}

.Desc {
  @extend .body4;
  color: #505254;
}

.Price {
  @extend .subtitle3;
  color: #fd914b;
}

.OrderBtn {
  width: rem(200);
  padding: rem(14) 0;
  background: #154686;
  text-align: center;
  color: #fff;
  border-radius: rem(6);
  font-size: rem(16);
  font-weight: 600;
  cursor: pointer;

  @include mobile {
    width: 100%;
  }
}

.Divider {
  width: 100%;
  height: rem(1);
  background-color: #edeff2;

  @include mobile {
    display: none;
  }
}

.ConsultBox {
  display: flex;
  align-items: center;
  gap: rem(24);
  background: #f6f8fb;
  border-radius: rem(6);
  padding: rem(16);

  @include mobile {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0;
  }
}

.ConsultTitle {
  @extend .subtitle4;
  gap: rem(4);
  margin-bottom: rem(6);
  display: flex;
  align-items: center;
}

.ConsultDesc {
  @extend .caption2;
  color: #292c2e;
}

.ConsultBtn {
  @include flex-center;
  @extend .button2;
  gap: rem(4);
  width: rem(131);
  padding: rem(11) 0;
  background: #ffde55;
  border-radius: rem(6);

  @include mobile {
    width: 100%;
  }
}
