@use "@/styles/variables" as *;
@use "@/styles/typography" as *;
@use "@/styles/mixins" as *;

.FooterWrapper {
  width: 100%;
  background: #f6f7f9;
  margin-top: auto;
}

.FooterInner {
  @include footer-container;
  padding: rem(32) rem(48);

  @include mobile {
    padding: rem(16) rem(24);
    text-align: center;
  }
}

.MenuList {
  display: flex;
  align-items: center;
  gap: rem(24);

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(12) rem(16);
  }

  li {
    @extend .body4;
    color: #292c2e;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-primary;
    }
  }

  .CallCenter {
    gap: rem(3);

    .Tell {
      @extend .subtitle4;
    }
  }

  > .KaKaoIcon {
    margin-left: auto;

    @include mobile {
      margin-left: 0;
      order: -1;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: rem(8);
    }
  }
}

.Divider {
  width: 100%;
  height: rem(1);
  background-color: #d0d2d5;
  margin: rem(16) 0;
}

.SiteInfo {
  @extend .caption2;
  font-size: rem(13);
  color: #505254;
  line-height: rem(20);

  li {
    word-break: keep-all;
  }
}
